/***************************************************
*  CSS S'APPLIQUANT AU PLANNING DES CONSULTATIONS  *
****************************************************/


/* Division contenant les boutons suivant et précédant */
#Nsemaine{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Bouton navigation entre els semaines */
.boutonSem{
    margin: 10px 150px;
    font-size: 1.4em;
    font-weight: bold;
}

/*Tableau des horraires*/

#calendrier{
    margin: 0 5%;
    width: 90%;
    padding: 0;
    text-align: center;
}

#calendrier th{
    width: 10%;
}

#calendrier tr:first-child > td{
    height: 50px;
}

#calendrier td{
    width: calc( 90% / 11 );
    min-height: 80px;
}

.rdv{
    background-color: #A32D2D;
    height: 25px;
    margin: 3px 0;
    transition: 0.5s;
}

.rdv:hover{
    background-color: white;
}

/*CSS de la boxe d'info sur le RDV*/

div.afficheRDV{
    display: none;
    position: absolute;
    padding: 10px 20px;
    margin-top: 3px;
    margin-left: -10px;
    background-color: white;
    box-shadow: 1px 1px 3px;
}

.rdv:hover div.afficheRDV{
    display: block;
}