form {
	margin: 30px;
	text-align: center;
}

input[type=text], input[type=password], input[type=date] {
	width: 350px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}


input[type=submit] {
	font-size: 1.3em;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color : #52A458 ;
	color : white;
	border: 1px solid #323232;
}

input[type=submit]:active {
	border-style: inset;
	background-color : #1C6922 ;

}

label {
	display: inline-flex;
	width: 300px;
	margin: 10px;
}

