
		/*********************************************
		********	STYLE GENERAL DU SITE WEB	******
		*********************************************/


body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #EBEBEB;
	font-family: sans-serif;
	font-size: 1.2em;
}

h1 {
	margin: 20px;
	margin-bottom: 50px;
	text-align: center;
}

p {
	color: #1F1F1F;
	text-align: justify;
}

a {
	height: 100%;
	color: black;
	text-decoration: none;
	width: 100%;
}



		/*********************************************
		********	STRUTURE DE LA PAGE INDEX	******
		*********************************************/

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 70px;
	min-height: 70px;
	
	background-color: white;
	box-shadow: 0 0 10px;
}

header #connecBox {
	width: calc( 10% - 10px );
	height: calc( 100% - 40px );
	background-color: #D55;
	display: inline-block;
	padding: 20px 0;
	overflow: hidden;
	color: white;
	text-align: center;
	float: left;
}


	/**********************************************************
	**  STYLE APPLIQUE AUX ONGLETS DE NAVIGUATION DU HEADER  **
	***********************************************************/

header > #Honglets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	width: calc( 100% - 10% - 10px );
	height: 100%;
	margin: 0;
	padding: 0;
}

#Honglets > a ,
#Honglets > section {
	display: inline-block;
	width: 150px;
	height: calc( 100% - 40px - 5px );
	margin: 10px 10px 0 10px;
	padding: 10px 10px 20px 10px;
	border-bottom: 5px solid #FA1010;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}

#Honglets > section:hover{
	background-color: #F1F1F1;
	cursor : pointer;
}

.Hmenus {
	transition: 0.5s;
	position: relative;
	width: 169px;
	left: -10px;
	top: 9px;
	background-color: white;
	display: none;
	padding: 0;
	border: 1px solid;
	border-top-color: #FA1010;
	box-shadow: 0 1px 2px;
}

#Honglets > section:hover .Hmenus{
	display: block;
}

.Hmenus li {
	list-style: none;
	margin: 0;
	padding: 10px;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}

.Hmenus li:before{
	content: '';
	display: block;
	position: absolute;
	top: calc( 4px - 2*5px );
	left: 0;
	width: 100%;
	height: 5px;
}

.Hmenus a:last-child li{
	border: none;
}

.Hmenus a:hover li{
	background-color: #EEE;
}

	/****************************************************
	** STYLE APPLIQUE A LA DIVISION CENTRALE CONTENEUR **
	*****************************************************/

#contenu {
	position: relative;
	width: calc( 100% - 40px - 100px );
	right: 0;
	top: 100px;
	background-color: #FFF;

	margin: 50px;
	padding: 20px;
	
	border-radius: 7px;
	box-shadow: 0px 2px 10px;
	
    overflow-wrap: break-word;
}

pre {
	margin: 10% 0;
	font-size: 1.15em;
	font-weight: bold;
    text-align: center;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}