
table {
	width: 70%;
	text-align: left;
	border-collapse: collapse;
	margin: 20px 15%;
}

table#afficherPatient {
	width: 95%;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

th {
	height: 40px;
	margin: 0;
	padding: 5px 0;
	border: 2px solid white;
	background-color: #AAA;
	text-align: center;
	color: white;
}

th#th1 {
	width: 40%;
}

th#th2 {
	width: 40%;

}

th#th3 {
	width: 20%;
}

td.tdcenter {
	text-align: center;
}

td {
	height: 25px;
	padding: 5px 0;
	border: 2px solid #FBFBFB;
}

tr:hover {
	background-color: #E8E8E8;
}
